<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="reqHashKey" value="a47b59ad31722ed17b"/>
    <add key="MerchantId" value="105946"/>
    <add key="passphrase" value="A4476C2062FFA58980DC8F79EB6A799E"/>
    <add key="salt" value="A4476C2062FFA58980DC8F79EB6A799E"/>
    <add key="passphrase1" value="75AEF0FA1B94B3C10D4F5B268F757F11"/>
    <add key="salt1" value="75AEF0FA1B94B3C10D4F5B268F757F11"/>
    <add key="ApiPassword" value="939bd6b2"/>
    <add key="APIurl" value="https://caller.atomtech.in"/>
    <add key="Gatewayurl" value="http://atom.in?"/>
    <add key="APIname" value="TXNVERIFICATION"/>
    <add key="APIsource" value="source"/>
    <add key="ConnectionString" value="Data Source=FIA-SRV-DSC;Initial Catalog=NEWBILLPAY;User Id=sa; Password=Pass@123;MultipleActiveResultSets=True"/>
  </appSettings>
</configuration>